package views

templ Profile() {
    <main>
        <article class="profile">
            <label class="block group">
                <span 
                    class="text-xs group-focus-within:text-theme-gold"
                >
                    Display name
                </span>
                <div
                    class="flex flex-row border-b border-theme-cream group-focus-within:border-theme-gold"
                >
                    @displayName(ctx.Value("user_name").(string))
                </div>
            </label>
        </article>
    </main>
}

templ displayName(username string) {
    <input
        class="name block w-full bg-transparent focus:outline-none focus:ring-0 font-semibold text-2xl"
        value="Jerell"
        placeholder={ username }
    >
}
