package components

templ Home() {
    <main>
        <article>
            <h2>Rankings</h2>
            <p>This should be left aligned in a section in the middle</p>
        </article>
        <p>This should be in the middle</p>
        <p class="w-full">This should be left aligned because it should span the full width</p>
    </main>
}
