package components

templ Home() {
    <main>
        @Comparison()
        <article>
            <h2>Request access</h2>
            <p>
                During development, up to 100 users will be given access.
            </p>
            <p>
                If you wan to join, ask the developer.
            </p>
        </article>
    </main>
}
