:root {
    --pale: #FAFAFF;
    --lighter: #EEF0F2;
    --light: #ECEBE4;
    --mid: #DADDD8;
    --dark: #011627;
    --primary: #B91372;

    background: var(--mid);
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2, h3, h4, h5, h6 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    color: var(--primary);
    font-size: 2rem;
}

a {
    color: var(--primary);
    text-decoration-color: var(--primary);

    &:hover, &:hover h1 {
        color: var(--dark);
        text-decoration-color: var(--dark);
    }
}

header a {
    text-decoration: none;
}

body {
    color: var(--dark);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
