@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --pale: #FAFAFF;
    --lighter: #EEF0F2;
    --light: #ECEBE4;
    --mid: #DADDD8;
    --dark: #011627;
    --primary: #B91372;

    background: var(--light);
    font-family: "Poppins", sans-serif;
}

.bg-pale {
    background: var(--pale);
}

.bg-lighter {
    background: var(--lighter);
}

.bg-light {
    background: var(--light);
}

.bg-mid {
    background: var(--mid);
}

.bg-dark {
    background: var(--dark);
}

.bg-primary {
    background: var(--primary);
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2, h3, h4, h5, h6 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    color: var(--primary);
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

a {
    color: var(--primary);
    text-decoration-color: var(--primary);

    &:hover, &:hover h1 {
        color: var(--dark);
        text-decoration-color: var(--dark);
    }
}

header a {
    text-decoration: none;
}

body {
    color: var(--dark);
}

header {
    @apply flex flex-row justify-between;
    background: var(--mid);
    padding: 0 0.125rem;
    align-items: end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.25rem;
    margin-top: 2rem;
    gap: 3rem;

    article {
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.w-full {
    width: 100%;
}
