package auth

templ UserInfo(name string) {
    <div class="user-info">
        <p>Logged in as: { name }</p>

        <a href="/auth/logout" class="logout-button">
            Logout
        </a>
    </div>
}
